<div class="container col-m-6">
    <h1 style="color:red">Pay U</h1>

<form>



    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"> Card Holder Name</label>
        <input type="email" class="form-control" id="name" name="name"  >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Card Number</label>
        <input type="email" class="form-control" id="Card Number" name="Card Number"  >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Cvv</label>
        <input type="email" class="form-control" id="Cvv" name="Cvv" >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Date</label>
        <input type="email" class="form-control" id="name" name="name" >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" id="name" name="name" >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Conform Password</label>
        <input type="password" class="form-control" id="name" name="name" >
      </div>
</form>

<button (click)="simpleAlert()" class="btn btn-primary">Pay</button>


</div>